{% extends "index.html" %}

{% block content %}
{% load static %}

  <div class="list-group-item mb-3 p-0"> 
    <div class="card border-0">
        <div class="card-header bg-dark text-white"> 
            <div class="d-flex justify-content-between align-items-start">
                <h2 class="h4 mb-0">New Post</h2>
                <small class="text-light">Share Your Thoughts</small>
            </div>
        </div>
        <div class="card-body bg-light text-dark"> 
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-dark btn-sm">Create Post</button>
            </form>
        </div>
        <div class="card-footer bg-secondary text-white"> 
            <a href="{% url 'home' %}" class="text-muted d-block text-decoration-none">Looking for inspiration? Check out latest posts!</a>
        </div>
    </div>
  </div>
  
{% endblock %}